body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.stateTutorial{
  margin-top: 20%;
  text-align: center;
  font-size: 18px;
}
.div1{
  background-color: yellow;
}
.div2{
  background-color: red;
}
.div3{
  background-color: green;
}
.div4{
  background-color: orange;
}
.div5{
  background-color: pink;
}
.div6{
  background-color: blue;
}
